body {
    background-color: rgba(0, 153, 255, 0.767);
    font-family: Verdana;
    color: #fff;
    padding: 50px;
}

h1 {
    font-size: 80px;
    font-style: normal;
    text-align: center;
    letter-spacing: 2px;
}

p,
nav {
    font-size: 40px;
    font-style: normal;
    text-align: center;
    letter-spacing: 2px;
}

h2,
ul {
    font-size: 50px;
    font-style: normal;
    text-align: center;
    letter-spacing: 2px;
}

li {
    font-size: 40px;
    font-style: normal;
    text-align: center;
    letter-spacing: 2px;
}

label {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    width: 400px;
}

input {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form {
    margin: 200px 350px;
}

input#submit {
    width: 678px;
    margin: 20px 0px;
}