<head>
    <style>
        body {
            background-color: aqua;
            font-family: Verdana;
            padding: 50px;
            color: #fff;
        }
        
        h1,
        h2 {
            font-size: 80px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        
        p,
        li {
            font-size: 60px;
            text-align: center;
        }
        
        nav {
            font-size: 40px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
    </style>
</head>
<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/profile/:name">PROFILE</a></li>
    </ul>
</nav>